.board-wrapper {
	max-width: 800px;
	max-height: 800px;
	margin: auto;
}

.chessboard {
	width: 100%;
	height: auto;
	outline: 2px solid #000;
}

.rank {
	height: 12.5%;
	display: flex;
}

.rank:nth-child(even) .square:nth-child(odd),
.rank:nth-child(odd) .square:nth-child(even) {
	background-color: #b58863;
	color: #f0d9b5;
}

.rank:nth-child(even) .square:nth-child(even),
.rank:nth-child(odd) .square:nth-child(odd) {
	background-color: #f0d9b5;
	color: #b58863;
}

.hover-border {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 3px solid #ffffff;
}

.square {
	max-width: 12.5%;
	width: 100%;
	aspect-ratio: 1/1;
	font-size: 10px;
	position: relative;
	
	&:hover {
		filter: brightness(1.1);
		
		.hover-border {
			display: block !important;
		}
	}
	
	&.selected {
		.hover-border {
			display: block !important;
			border-color: yellow;
		}
		
	}
	
	&.legal-move {
		cursor: pointer;
		
		.legal-move-indicator {
			width: 40%;
			height: 40%;
			top: 50%;
			left: 50%;
			background: rgba(255, 255, 255, 0.5);
			outline: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			transform: translate(-50%, -50%);
			display: block !important;
		}
		
		
		&.capture {
			.legal-move-indicator {
				display: none !important;
			}
			
			.hover-border {
				display: block !important;
				border-color: red;
			}
		}
		
	}
}

.piece {
	z-index: 2;
	cursor: pointer;
	top: 0;
	left: 0;
	position: absolute;
}

.moves-list {
	overflow-y: auto;
	max-height: 60vh;
}

.text-list {
	max-height: 50px;
	height: 100%;
	overflow: auto;
}

